
extends layout

block content
	nav.navbar.navbar-expand.navbar-light.bg-light
		.nav-item
		div
			ul
    			li 
			a(href='/home') Control Panel
			li
			a(href='/add-sensor') Add Sensor
			li
			a(href='/alerts') Alerts
			li
			a(href='/admin') Admin
			li
			.navbar-nav.ml-auto
			.nav-item
				button.btn.navbar-btn.btn-outline-dark#btn-logout Sign Out

	include account
	include modals/alert
	include modals/confirm

block scripts
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')
